
body{
    font-family: sans-serif;
    
}
.cabecera{
   background-color: black;
   font-style: normal;
   font-size: 15pt;
   font-weight: bold; 
   text-align: center;  
}

.logo{
    
    max-width: 100%;
}
.nav{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    max-width: 100%;
}
a{
    color: white;
    text-decoration: none;
}

.cuerpo{
    margin-right: 8px;
    margin-left: 8px;
    width: 100%;
}
