body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.cabecera {
    display: inline-flex;
    font-style: normal;
    font-size: 15pt;
    font-weight: bold;
    width: 100%;
}

.imagenFondo {
    width: 100%;
    height: 100%;

}

a {
    color: white;
    text-decoration: none;
    margin-right: 3%;
}

.nav {
    background-image: linear-gradient(to right, black, rgb(155, 155, 151));
    width: 100%;
    padding-top: 90px;
    float: left;
}

hr {
    display: none;
}

.cuerpo {
    display: grid;
    grid-template-columns: auto auto auto;
}

article {

    text-align: center;
    margin: 20px;
}

.imagen1 {
    height: auto;
    width: 80%;
    border-radius: 10px;
}

footer {
    background-color: black;
    color: white;
    height: 200px;
    text-align: center;
    padding-top: 70px;
}

aside {
    text-align: center;
    margin: 40px;
    padding: 50px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(to right, rgb(204, 129, 219), rgb(107, 85, 207));
}