body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.cabecera {
    background-color: black;
    font-style: normal;
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
}

.imagenFondo {
    width: 0%;
    height: 0%;

}

a {
    color: white;
    text-decoration: none;
}

.nav {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    max-width: 100%;
}


.cuerpo {
    text-align: center;
    margin: auto;
}

article {

    text-align: center;
    margin: 20px;
}

.imagen1 {
    height: auto;
    width: 80%;
    border-radius: 10px;
}

footer {
    background-color: black;
    color: white;
    height: 200px;
    text-align: center;
    padding-top: 70px;
}

aside {
    visibility: hidden;
}